@font-face {
  font-family: 'GothamProBlack';
  font-style: normal;
  font-weight: 900;
  src: local('GothamProBlack'),
  url('../fonts/GothamProBlack.eot') format('eot'),
  url('../fonts/GothamProBlack.ttf') format('ttf'),
  url('../fonts/GothamProBlack.woff') format('woff');
}

@font-face {
  font-family: 'GothamProLight';
  font-style: normal;
  font-weight: 300;
  src: local('GothamProLight'),
  url('../fonts/GothamProLight.eot') format('eot'),
  url('../fonts/GothamProLight.ttf') format('ttf'),
  url('../fonts/GothamProLight.woff') format('woff');
}