/* font-family должен быть одинаковым везде, где используется одно семейство шрифтов.

Для Gotham Pro font-family: "Gotham Pro"

Тот или иной шрифт выбирается через font-weight. Font-weight для каждого шрифта ты задаешь непосредственно в font-face.

Стандартная раскладка font-weight для шрифтов:

thin: 100
ultralight: 200
light: 300
regular: 400
medium: 500
bold: 600
ultra/extra bold: 700-800
black: 900

Соотвественно, для первого шрифта задаешь font-weight:900, а для второго font-weight:300
*/


@font-face {
  font-family: 'GothamProBlack';
  font-style: normal;
  font-weight: 400;
  src: local('GothamProBlack'),
  url('../fonts/GothamProBlack.eot') format('eot'),
  url('../fonts/GothamProBlack.ttf') format('ttf'),
  url('../fonts/GothamProBlack.woff') format('woff');
}

@font-face {
  font-family: 'GothamProLight';
  font-style: normal;
  font-weight: 400;
  src: local('GothamProLight'),
  url('../fonts/GothamProLight.eot') format('eot'),
  url('../fonts/GothamProLight.ttf') format('ttf'),
  url('../fonts/GothamProLight.woff') format('woff');
}