.scroll {
  position: fixed;
  top: 50%;
  right: 80px;
  display: block;
  font-size: 13px;

  &::after {
    content: "";
    background-image: url(../img/arrow.svg);
    display: block;
    width: 48px;
    height: 16px;
    position: relative;
    bottom: 15px;
    left: 55px;
  }
}

header {
  position: fixed;
  background-color: #242426;

  .container {
    padding: 45px 80px;
  }
}

main {
  padding-top: 150px;
}

.slider {
  width: 100%;
  height: 100vh;

  .slider-wrapper {
    display: flex;
    width: 6500px;
  }
}

.slide {
  width: 100%;
  height: 100vh;

  .about {
    width: 45%;

    p {
      font-family: $light-font;
      width: 80%;
      line-height: 25.5px;
      padding-bottom: 20px;
      font-size: 18px;
    }
  }
}

.slide-title {
  font-size: 66px;
  //line-height: 115px;
  width: 50%;

  &--projectslist,
  &--technologies {
    width: 30%;
  }

  &--contacts {
    font-size: 41px;
    width: 25%;
  }
}

.slide-description {
  padding-top: 165px;
  font-size: 28px;
  display: flex;

  &--figures {
    width: 34%;
  }

  li {
    padding-bottom: 40px;
  }
}

.slide-column {
  width: 30%;
  padding-right: 115px;
}

.page-menu {
  flex-basis: 75%;

  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    letter-spacing: 4px;
    text-transform: uppercase;
    padding-right: 70px;
    //font-size: (10px/152px)*1em;
    font-size: 11px;

    &:last-child {
      padding-right: 0;
    }
  }

  a {
    color: #63636c;
  }

  .active {
    color: #fff;
    position: relative;

    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 110%;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      top: 35%;
      position: absolute;
      background-color: #fff;
      left: -5%;
    }
  }
}

.contacts,
.projects-list {
  display: flex;
}

.projects-list {
  flex-direction: row;
}

.project-intro {
  font-size: 55px;
  width: 45%;
  line-height: 65px;
}

.project-item {
  width: 1380px;
  height: 370px;
  display: flex;
  background-size: 670px 380px;
  background-repeat: no-repeat;

  &--inform-system {
    background-image: url('../img/img-first-project.jpg');
    background-position-x: 18%;
  }

  &--winter-games {
    background-image: url('../img/img-second-project.jpg');
  }

  &--skills-portal {
    background-image: url('../img/img-third-project.jpg');
  }
}

form {
  button {
    padding: 17px 25px;
    font-size: 11px;
    color: #8b8b8c;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    outline: 2px #8b8b8c;
    font-family: $base-font;
    letter-spacing: 4px;
    float: right;
  }
}

.contacts-list {
  font-family: $light-font;
  width: 25%;
  padding-right: 60px;

  li {
    padding-bottom: 20px;
  }

  address {
    font-style: normal;
  }
}

.form-list {
  li {
    padding-bottom: 40px;
    position: relative;

    span {
      color: #8b8b8c;
      font-family: $light-font;
      font-size: 13px;
      position: absolute;
      bottom: 55px;
    }

    input,
    textarea {
      background-color: #242426;
      border: none;
      border-bottom: 2px solid #8b8b8c;
      color: #8b8b8c;
      width: 295px;
      font-family: $light-font;
      font-size: 13px;

      &:focus {
        outline: none;
      }
    }
  }

  textarea:focus {
    .hide {
      display: none;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  padding: 30px 0;
  border-top: 1px solid #565658;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-color: #242426;
}

.progess-bar {
  bottom: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  width: 20%;
  border-top: 1px solid #89898a;
}
