.scroll {
  position: fixed;
  top: 50%;
  right: 80px;
  display: block;
  font-size: 13px;
  font-family: $base-font;

  &::after {
    content: "";
    background-image: url(../img/arrow.svg);
    display: block;
    width: 48px;
    height: 16px;
    position: relative;
    bottom: 15px;
    left: 55px;
    background-repeat: no-repeat;
  }

  &--left {
    left: 80px;

    &::after {
      transform: rotate(180deg);
      left: -70px;
    }
  }
}

.pop-up-nav {
  .scroll {
    font-family: $medium-font;

    &::after {
      bottom: 20px;
    }
  }
}

header {
  position: fixed;

  .container {
    padding: 45px 80px;
  }
}

main {
  padding-top: 150px;
}

.slider {
  width: 100%;
  height: 100vh;

  .slider-wrapper {
    display: flex;
    width: 6500px;
  }
}

.slide {
  width: 100%;
  height: 100vh;

  .about {
    width: 45%;

    p {
      font-family: $light-font;
      width: 80%;
      line-height: 25.5px;
      padding-bottom: 20px;
      font-size: 18px;
    }
  }
}

.slide-title {
  font-size: 66px;
  //line-height: 115px;
  width: 50%;

  &--projects,
  &--technologies {
    width: 30%;
  }

  &--contacts {
    font-size: 41px;
    width: 25%;
  }
}

.slide-description {
  padding-top: 165px;
  font-size: 28px;
  display: flex;

  &--figures {
    width: 34%;
  }

  li {
    padding-bottom: 40px;
  }
}

.slide-column {
  width: 30%;
  padding-right: 115px;

  p {
    margin-bottom: 40px;
  }
}

.page-menu {
  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-right: 70px;
    //font-size: (10px/152px)*1em;
    font-size: 11px;

    &:last-child {
      padding-right: 0;
    }
  }

  a {
    color: #63636c;

    &:hover {
      opacity: 0.1;
    }
  }

  .active {
    color: #fff;
    position: relative;

    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      top: 35%;
      position: absolute;
      background-color: #fff;
      transform: scale3d(1, 1, 1);
    }
  }
}

.cross {
  display: none;
  cursor: pointer;
}

.container {
  &--projects {
    width: auto;
  }
}

.contacts,
.projects-list {
  display: flex;
}

.projects-list {
  width: auto;
}

.project-intro {
  font-size: 55px;
  width: 62%;
  line-height: 65px;
  display: none;

  &--active {
    display: block;
  }
}

.project-item {
  width: 1000px;
  height: 370px;
  display: flex;
  background-size: 670px 380px;
  background-repeat: no-repeat;

  &--inform-system {
    background-image: url('../img/img-first-project.jpg');
    background-position-x: 39%;
    background-size: 675px;

    &:hover {
      background-size: 685px;
    }
  }

  &--winter-games {
    background-image: url('../img/img-second-project.jpg');
  }

  &--skills-portal {
    background-image: url('../img/img-third-project.jpg');
  }
}

.pop-up-container {
  padding: 0 230px;
}

.pop-up-info {
  font-family: $light-font;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
  line-height: 25px;
}

.project-result {
  width: 20%;
}

.project-description {
  width: 65%;
  padding-top: 25px;
}

.pop-up-images {
  margin: 0 auto;
  margin-top: 55px;

  img {
    width: 970px;
    padding-bottom: 20px;
  }
}

.project-result {
  display: flex;
  flex-direction: column;
}

form {
  button {
    padding: 17px 25px;
    font-size: 11px;
    color: #8b8b8c;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    font-family: $base-font;
    letter-spacing: 4px;
    float: right;
    border: none;
    outline: 2px solid #8b8b8c;
  }
}

.contacts-list {
  font-family: $light-font;
  width: 25%;
  padding-right: 60px;

  li {
    padding-bottom: 20px;
  }

  address {
    font-style: normal;
  }
}

.form-list {
  li {
    padding-bottom: 40px;
    position: relative;

    span {
      color: #8b8b8c;
      font-family: $light-font;
      font-size: 13px;
      position: absolute;
      bottom: 55px;
    }

    textarea:focus + span {
      display: none;
    }

    input,
    textarea {
      background-color: #242426;
      border: none;
      border-bottom: 2px solid #8b8b8c;
      color: #8b8b8c;
      width: 295px;
      font-family: $light-font;
      font-size: 13px;

      &:focus {
        outline: none;
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  padding: 30px 0;
  border-top: 1px solid #565658;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 4px;

  a {
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }
  }
}

.progess-bar {
  bottom: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  width: 20%;
  border-top: 1px solid #89898a;
}
