$accent-color: #26b0f1;

/*
Когда подключаешь шрифт, по соображениям кроссбраузерности необходимо
давать браузеру альтернативу используемому кастомному шрифту в том случае,
если он по каким-то причинам не смог его подгрузить/отобразить.

Иначе у тебя в случае ошибки везде отобразится Times New Roman.

Для шрифта без засечек выглядит это так:

font-family:"Gotham Pro", Arial, sans-serif;
*/

$base-font: 'GothamProBlack';
$light-font: 'GothamProLight';

h1 {
  font-size: 55px;
}